<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" type="text/css" />
     <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>MyHomeWorks</title>
</head>
<body>
  <section class="division-inicio1">
      <img src="{{url_for('static',filename='img/LOGO.jpg')}}">
      
  </section>
  <section class="division-inicio">
    <a class="botons-inicio" href="inicio">inicio</a>
    <a class="botons-inicio" href="logout">Cerrar sesión</a>
    
    <!--<a href="registroHW">Registrar tarea</a>-->
    </section> 
    <section class="division-mensajes">
     <a class="botons-texto"><h1>REGISTRO EXITOSO</h1></a>
    </section>
     <section>
    <br></br><a class="botons-inicio1"aling="rigth" href="/download2?datos={{ide_respuesta}}"> {{nombre}}</a>
   </section>
    <!--<a href="/download2?datos={{ide_respuesta}}"> {{nombre}}</a>-->
    <div class="form-register">
    <!--<h1>DATOS{{datos}}</h1>-->
    <!--<h1>USUARIO:<br> {{usuario}}</h1>-->
    <!--<h1>IDE_RESPUESTA{{ide_respuesta}}</h1>-->
    
    <h1>Haz subido correctamente la respuesta a la tarea "{{datos[1]}} con el archivo {{nombre}}" </h1>
    </div>
    


    
</body>
</html>