<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" type="text/css" />
     <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>MyHomeWorks</title>
</head>
<body>
 <section class="division-inicio1">
      <img src="{{url_for('static',filename='img/LOGO.jpg')}}">
      
  </section>
  <!--<h1>MY HOMEWORKS</h1>
    {{nocuenta}}-->
    <section class="division-inicio">
    <a class="botons-inicio" href="inicio">inicio</a>
    <a class="botons-inicio" href="logout">Cerrar sesión</a>
    
    <!--<a href="registroHW">Registrar tarea</a>-->
    </section> 
    <section class="division-mensajes">
     <a class="botons-texto"><h1>REGISTRO EXITOSO DE: {{nombre_tar}}</h1></a>
    </section>
    
    
    
</body>
</html>