<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" type="text/css" />
     <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>MyHomeWorks</title>
</head>

<body>
    <video muted autoplay loop>
            <source src= "{{url_for('static',filename='img/video3.mp4')}}" type="video/mp4">
    </video>
    <section class="division3">
        <div align="center"><img src="{{url_for('static',filename='img/LOGO.jpg')}}" ></div>

    </section>
     <section >
      <a class="botons3" href="login">Ingresar</a> 
      <a class="botons2" href="signin">Registrarse</a>  
     </section>
   }

</body>

</html>