<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" type="text/css" />
     <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Edu-Match</title>
</head>
<body>
   
  <section class="division-inicio1">
      <img src="{{url_for('static',filename='img/LOGO.jpg')}}">
      
  </section>
  
    <!--{{nocuenta}} -->
    <section class="division-inicio">
    <a class="botons-inicio" href="logout">Cerrar sesión</a>
    <a class="botons-inicio" href="registroHW">Registrar tarea</a>
    <a class="botons-inicio" href="mis_tareas">Mis tareas</a>
    <a class="botons-inicio" href="solicitudes">Solicitudes({{long_soli}})</a>
    </section>
    
    {%for i in range(0,longitud) %}
    
     {% if tareas[i][2] != "unavailable"  %}  

        <div class="form-register">


            <a href="/tareas?id_tarea={{ tareas[i][4] }}">VER</a>

        
            {% if respuestas[i] ==0  %}
            
            <h1>NO HAY RESPUESTAS</h1>
            
            {%endif%}
            
            {% if respuestas[i] != 0  %}
            
            <h1>SOLICITUDES({{respuestas[i]}})</h1>
            
            {%endif%}
            
            
           
            
           <h4>Fecha limite: {{tareas[i][0]}}</h4>
           <h4>Nombre: {{tareas[i][1]}}</h4>
           <!--<h4>{{tareas[i][2]}}</h4> -->
           <h4>Precio: {{tareas[i][3]}}</h4>
           <!-- <h4>{{tareas[i][4]}}</h4> -->
           <h4>Materia: {{tareas[i][5]}}</h4>
           <h4>Usuario: {{tareas[i][6]}}</h4>
             {%endif%}
            <a href="{{i[7]}}">{{i[7]}}</a>

        </div>
       <!--<img src="{{url_for('static',filename='img/libros.JPG')}}" width="1000" height="450" position="relative">
    -->
    {%endfor%}
  
    

  
</body>
</html>