<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" type="text/css" />
     <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Log in</title>
</head>
<body>
 
    <video muted autoplay loop>
            <source src= "{{url_for('static',filename='img/video3.mp4')}}" type="video/mp4">
    </video>
        <form method="POST">
    
           <section class="form-register">
            <h4>Formulario Registro</h4>
            <!--TIPOS DE DSTOS: date,number,file-->
        
            <input class="controls" type="text" name="nocuenta" id="nocuenta" required placeholder="Ingrese su número de cuenta" maxlength="9"/>
           
            <input class="controls" type="password" name="contrasenia" id="contrasenia" placeholder="Ingrese la contraseña"/>
            <p> Estoy de acuerdo con <a href="#"> Términos y condiciones</a> </p>
            <input class="botons" type="submit" value="Registrar"/>
            <p>valw kk</p>
            <h1>
                {{case}}
            </h1>
            
            {% if %}
            
            <script type="text/javascript" src="{{url_for('static',filename='js/login2.js')}}"></script>
        </form>
    </section>
    
        
    
</body>
</html>