<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" type="text/css" />
     <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>MyHomeWorks</title>
</head>
<body>
 <section class="division-inicio1">
      <img src="{{url_for('static',filename='img/LOGO.jpg')}}">
      
  </section>
  <section class="division-mensajes">
     <a class="botons-texto"><h1>MIS RESPUESTAS A: </h1></a>
    </section>
  <!--<h1>MY HOMEWORKS</h1>
    {{nocuenta}}-->
    </section>

{% for i in respuestas %}
    <div class="form-register">
          <a href="/pagos?id={{i[1]}}">    <h4> Archivo: {{i[0]}}</h4>       </a> 
   <!--<h4>ID_RESPUES{{i[1]}}</h4>
   <h4>ID_TAREA{{i[2]}}</h4>-->
        
    </div>
 
{%endfor%}
    


</body>
</html>