<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" type="text/css" />
     <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>MyHomeWorks</title>
</head>
<body>
  <section class="division-inicio1">
      <img src="{{url_for('static',filename='img/LOGO.jpg')}}">
      
  </section>
  
  <!--<h1>MyHomeWorks</h1>-->
    {{nocuenta}}
     <section class="division-inicio">
    <a class="botons-inicio" href="inicio">REGRESAR</a>
    <a class="botons-cerrar"href="logout">Cerrar sesión</a>
    </section>
    <section class="division-mensajes">
     <a class="botons-texto"><h1>POR CONTESTAR</h1></a>
    </section>
    {%for i in range(0,longitud)%}
    
    {% if a[i][2] != "unavailable"  %}  
    
    <div class="form-register">
        {% if respuestas[i]!=0 %}
          <a href="/mis_respuestas?id={{a[i][4]}}"> <h4>RESPUESTAS({{respuestas[i]}})</h4></a>
        {% endif %}
        
        {% if respuestas[i]==0 %}
          <section class="division-mensajes">
     <a class="botons-texto"><h1>NO HAY RESPUESTAS</h1></a>
    </section>
        {% endif %}
        <h2>Fecha limite: {{a[i][0]}}</h2>
        <h2>Nombre: {{a[i][1]}}</h2>
        <!--<h2>{{a[i][2]}}</h2>-->
        <h2>Precio: {{a[i][3]}}</h2>
        <!--<h2>ID:{{a[i][4]}}</h2>-->
        <h2>Materia: {{a[i][5]}}</h2>
        <h2>Usuario: {{a[i][6]}}</h2>
    </div>
    
    {%endif%}
    {%endfor%}
    



     <br></br><section class="division-mensajes">
     <a class="botons-texto"><h1>CONTESTADAS</h1></a>
    </section>
     
         {%for i in range(0,longitud)%}
    
    {% if a[i][2] == "unavailable"  %}  
    
    <div class="form-register">
     
        
        {% if respuestas[i]==0 %}
          <h4>NO HAY RESPUESTAS AUN</h4>
        {% endif %}
        <h2>Fecha limite: {{a[i][0]}}</h2>
        <h2>Nombre: {{a[i][1]}}</h2>
        <!--<h2>{{a[i][2]}}</h2>-->
        <h2>Precio: {{a[i][3]}}</h2>
        <!--<h2>ID:{{a[i][4]}}</h2>-->
        <h2>Materia: {{a[i][5]}}</h2>
        <h2>Usuario: {{a[i][6]}}</h2>
    </div>
    
    {%endif%}
    {%endfor%}
    
    


</body>
</html>