<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" type="text/css" />
     <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>MyHomeWorks</title>
</head>
<body>

  <section class="division-inicio1">
      <img src="{{url_for('static',filename='img/LOGO.jpg')}}">
      
  </section>
  <section>
    <br></br><a class="botons-inicio1"aling="rigth" href="/download2?datos={{ide_respuesta}}">PAGAR</a>
   </section>
   <br></br><section>
    <br></br><a class="botons-inicio1"aling="rigth" href="/mis_tareas?ide={{ide_tarea}}">Finalizar tramite</a>
   </section>
   <!--
<a href="/download2?datos={{ide_respuesta}}">PAGAR</a> 


<button>
    <a href="/mis_tareas?ide={{ide_tarea}}">Finalizar tramite</a>
</button>
-->
</body>
</html>