<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" type="text/css" />
     <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Registro tarea</title>
</head>
<body>
 
    <video muted autoplay loop>
            <source src= "{{url_for('static',filename='img/video3.mp4')}}" type="video/mp4">
    </video>
        <form method="POST",action="/uploud " enctype="multipart/form-data" >
    <a href="inicio">regresar</a>
           <section class="form-register">
            <h4>REGISTRO DE RESPUESTA</h4>
            <!--TIPOS DE DSTOS: date,number,file-->
            <!--<input class="controls" type="text" name="nombre" id="nombre"required placeholder="Ingrese nombre de la tarea"/>-->
            <input class="controls" type="file" name="inputFile" id="inputFile" placeholder="Archivo"/>
            
            <input class="botons" type="submit" value="Registrar"/>
            
        </form>
      
          
    </section>
     
      
<h1></h1>
    
</body>
</html>