<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" type="text/css" />
     <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Sign in</title>
</head>
<body>
 
    <video muted autoplay loop>
            <source src= "{{url_for('static',filename='img/video3.mp4')}}" type="video/mp4">
    </video>
        <form method="POST" ,action="/uploud " enctype="multipart/form-data" >
    
           <section class="form-register">
            <h4>Formulario Registro</h4>
            <!--TIPOS DE DSTOS: date,number,file-->
            <input class="controls" type="text" name="nombre" id="nombre"required placeholder="Ingrese nombre de la tarea"/>
            <input class="controls" type="text" name="precio" id="precio" required placeholder="IPrecio de la tarea"/>
            <input class="controls" type="text" name="materia" id="materia" required placeholder="Ingrese la materia a la que pertenece"/>
            <input class="controls" type="date" name="fecha" id="fecha" placeholder="Ingrese la cfecha"/>
            <input class="controls" type="time" name="hora" id="hora" placeholder="Ingrese la hora limite"/>
   
            <input class="controls" type="file" name="inputFile" id="inputFile" placeholder="Archivo"/>
            
            <input class="botons" type="submit" value="Registrar"/>
        
        </form>
    </section>
    <h1>{{a}}</h1>

        
    
</body>
</html>