<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" type="text/css" />
     <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>MyHomeWorks</title>
</head>
<body>
<head>
    <section class="division-inicio1">
      <img src="{{url_for('static',filename='img/LOGO.jpg')}}">
      
  </section>
  <!--<h1>MY HOMEWORKS</h1>
    {{nocuenta}}-->
    
    <section class="division-mensajes">
        <a href="inicio"><h1>Inicio</h1></a>
     <a class="botons-texto"> <h1>SOLICITUDES</h1></a>
    </section><br></br>
 {% for i in lis%}
 
 <div class="alert alert-info" role="alert">
        <a class="botons-inicio1"aling="rigth" href="/mis_respuestas?id={{i[7]}}" href="/mis_respuestas?usuario={{i[6]}}"> <h4>{{i[6]}} ha contestado tu tarea: {{i[5]}} </h4> </a></a>
  
 
  <br><br><br><br>
 
</div>
 
    
    <!--<button>
        <a href="/mis_respuestas?id={{i[7]}}" href="/mis_respuestas?usuario={{i[6]}}" > -->
            <!--<h1>IDE_RESPUESTA{{i[7]}}</h1>-->
            <!--<h3>No cuenta: {{i[1]}}</h3>-->
            <!--<h3>Nombre de la respuesta:{{i[5]}}</h3>-->
            <!--<h3>Usuario: {{i[6]}}</h3>-->
            
            <!--<h2>{{i[6]}} ha contestado tu tarea {{i[5]}} </h2>-->
                <!--<h3>{{i}}</h3>-->
            {%endfor%}
        <!--</a>
        

    </button>-->
  
</head>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>  
</body>
</html>