   <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" type="text/css" />
     <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Tarea</title>
</head>
<body>
 <h1> {{clave}}</h1>
 
  <section class="division-inicio1">
      <img src="{{url_for('static',filename='img/LOGO.jpg')}}">
      
  </section>
  <section class="division-inicio">
      
  </section>
  <section>
    <br><a class="botons-inicio1" href="/download1?datos={{lis[4]}}">REVISAR: {{lis[1]}} </a>
   </section><br></br>
    <br></br><section class="botons4">
    <h5>Precio: {{lis[3]}}</h5>
    <!--<h1> {{lis[4]}}</h1>-->
    <h5>Materia: {{lis[5]}}</h5>
    </section>
    <section>
    <br></br><a class="botons-inicio1"aling="rigth" href="/registroRES?datos={{lis}}">SUBIR RESPUESTA</a>
   </section>
    
  
    <!--{{lis}}-->
    
    
</body>
</html>