<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" type="text/css" />
    <title>Document</title>
</head>
<body>
    
<h1>hola {{nombre}}</h1>

{%if age > 5 %}
    <h4>T Q M {{age}}</h4>
{%endif%}

{% for i in lista%}

<h1>{{i}}</h1>

{% endfor%}
</body>
</html>