<!DOCTYPE html>
<html lang="en">
<head>
 <title> {% block title %} {%endblock %} </title>
 <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" type="text/css" />
</head>
<body>
    {% block content %}
    
    {% endblock%}
    
</body>
</html>