    <!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css2?family=Cuprum:wght@500&family=Spartan:wght@500&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap" rel="stylesheet">
        <style>
            
            p{
			color:#000000;
			font-size: 25px;
			padding-top:10px;
			font-family: 'Lobster Two', cursive;
			
			}
			
				.card2{
				
			height: 20%;
			width: 100%;
		
			margin-top: 100px;
			background-color:#BD2427;
			padding-top: 10px;
			padding-right: 100px;
			padding-bottom:10px;
			padding-left: 100px; 
			
			
			}
			h2{
			margin-left:20px;
			color:#FFFFFF;
			font-size: 60px;
			}
			
			h3{
			margin-left:20px;
		 	color:#FFFFFF;
			font-size: 20px;
			}
			
			.card1{
			height: 70%;
			width: 70%;
			margin-left:180px;
			margin-top: 75px;
			background-color:#F69898;
			padding-top: 10px;
			padding-right: 50px;
			padding-bottom:50px;
			padding-left: 50px; 
			border-radius: 5px;
			
			}
			
			h1{
	    	color:#D7EAEB;
			}
			
			.texto{
        	padding-top: 50px;
        	color:#D7EAEB; 
        	font-size:55px;
        
        	font-family: 'Lobster Two', cursive;
        	line-height: 10px; 
        	font-weight: 700;	
        	text-decoration: none;
        	margin-bottom: 20px;
            }
            
            .division{
			background-color:#FF6F6F;
			padding-bottom: 10px;
			padding-top: 20px;
			color:#888888;
			size: 200px;
			}
			
			a{
			
			margin-top: 10px;
			color:#7DF500;
			font-size: 30px;
			ine-height: 10px; 
        	font-weight: 500;	
			}
			
			button{
			background-color:#FF6F6F;
				
			}
        </style>
    </head>
    
   
   <body  background="{{ url_for('static', filename= 'img/login.png') }}">
   	<div class="division">
   		<h2>UNAMID</h2>
			<nav  class="navbar navbar-expand-lg navbar-dark bg-transparent">
				
		  <!-- <a  class="navbar-brand" href="#"></a> -->
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="true" aria-label="Toggle navigation">
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNavAltMarkup" >
		    <div class="navbar-nav" align="left">
		    	<a class="nav-item nav-link" href="main">Inicio </a>
		      <a  class="nav-item nav-link active" href="formulario">		Registrar <span class="sr-only">(current)</span></a>
		      <a class="nav-item nav-link" href="id_search">Consultar</a>
		      <a class="nav-item nav-link" href="mostrar_tabla">Registros</a>
		      <a class="nav-item nav-link" href="nosotros">Nosotros</a>
		      
		    </div>
		  </div>
		</nav>
	</div>
      
            <h1 class="texto">Registro de Página</h1>
         
	   

	<div class="card1"  class="container">
			<form action="/respuesta" method="get">
				 <main>
					<div class="container-fluid">
					
						<div class="row">
							<!-- div.col{Col}*12 -->
							<div class="col-6 col-md-3 col-lg-12 "> 
							     <label for="id"><p> ID</p></label>
							  	 <input type="number" class="form-control" name="id" placeholder="Id correspondiente al registro">
							</div>
						
							<div class="col-6 col-md-3 col-lg-12 ">
							     <label for="titulo"> <p> Título</p> </label>
							     <input type="text" class="form-control" name="titulo" placeholder="Titulo de la página">
							</div>
				
							<div class="col-6 col-md-3 col-lg-12  ">
							     <label for="url"><p> URL</p></label>
							   	 <input type="text" class="form-control" name="url" placeholder="www.example.com">
						    </div>
						    
						    	<div class="col-6 col-md-3 col-lg-12  ">
							     <label for="url"></label>
							  
						    </div>
						    
						    <div class="col-6 col-md-3 col-lg-12  ">
							    <button type="submit" > <p>REGISTRAR</p> </button>
						    </div>
					
											<!-- <div class="col"></div> -->
						</div>
					</div>
				</main>
			</form>  
		</div>
			       

	
		<div class="card2">
    	   <h3 align="center">Derechos Reservados CopyRight</h3>
    	   <h3 align="center">Facultad de Ingenieria</h3>
    	   
    	   <h3>Contacto: equipomorado@gmail.com</h3>
    	   <h3>Telefono:5522495140</h3>
    	</div>
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
 
    </body>
   
        
    </html>
    