    <!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Cuprum:wght@500&family=Spartan:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap" rel="stylesheet">
        <style>
           p{
			color:#FFFFFF;
			font-size: 25px;
			padding-top:10px;
			ont-family: 'Spartan', sans-serif;
			
			}
			
			.card1{
			height: 70%;
			width: 100%;
			margin-left:10px;
			margin-top: 75px;
			
			padding-top: 10px;
			padding-right: 50px;
			padding-bottom:50px;
			padding-left: 10px; 
			border-radius: 5px;
			
			
			}
			.card2{
				
			height: 20%;
			width: 100%;
		
			margin-top: 10px;
			background-color:#BD2427;
			padding-top: 10px;
			padding-right: 100px;
			padding-bottom:10px;
			padding-left: 100px; 
			
			
			}
			
			h1{
	    	color:#D7EAEB;
			}
			
			h2{
			    margin-left:20px;
			    
			 	color:#FFFFFF;
			font-size: 60px;
			    
			}
			
			h3{
			    margin-left:20px;
			    
			 	color:#FFFFFF;
			font-size: 20px;
			    
			}
			
			.texto{
        	padding-top: 50px;
        	color:#D7EAEB; 
        	font-size:55px;
        
        	font-family: 'Lobster Two', cursive;
        	line-height: 10px; 
        	font-weight: 700;	
        	text-decoration: none;
        	margin-bottom: 20px;
            }
            
            .division{
			background-color:#FF6F6F;
			padding-bottom: 10px;
			padding-top: 20px;
			color:#888888;
			size: 200px;
			}
			
			a{
			
			margin-top: 10px;
			color:#7DF500;
			font-size: 30px;
			ine-height: 10px; 
        	font-weight: 500;	
			}
			
			button{
			background-color:#FF6F6F;
				
			}
        </style>

    </head>
    
   
   <body  background="{{ url_for('static', filename= 'img/campe.png') }}">
	   	<div class="division">
	   	    <h2>UNAMID</h2>
			<nav  class="navbar navbar-expand-lg navbar-dark bg-transparent">
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="true" aria-label="Toggle navigation">
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			    <div class="navbar-nav">
			      <a class="nav-item nav-link  active" href="main">Inicio <span class="sr-only">(current)</span></a>
			      <a class="nav-item nav-link" href="formulario">Registrar</a>
			      <a  class="nav-item nav-link" href="id_search">Consultar </a>
			      <a class="nav-item nav-link" href="mostrar_tabla">Registros</a>
			      <a class="nav-item nav-link" href="nosotros">Nosotros</a>
			    </div>
			  </div>
			</nav>
	    </div>
 
	    <h1 class="texto" >I N I C I O</h1>

	 
    	
    		<div class="row">
							<!-- div.col{Col}*12 -->
							<div class="col-6 col-md-3 col-lg-9"> 
							 
							  <div class="card1">
                                       <p>Bienvenido a la biblioteca de Id´s número uno, donde podrás guardar, consultar y organizar las direcciones de tus páginas favoritas.
                                       Página creada por alumnos de la UNAM, denominados EquipoMorado
                                       Solo con un clic puedes tener todas las Id´s guardadas
                                       
                                       </p>
                        
                        	    </div>
							</div>
							
							<div class="col-6 col-md-3 col-lg-3"> 
							<img src="{{ url_for('static', filename= 'img/escudo.png') }}" align="left" style="width:250px !important; height:330px !important">
							   
							</div>
						
						
										
						</div>
    	
    	
    	<div class="card2">
    	   <h3 align="center">Derechos Reservados CopyRight</h3>
    	   <h3 align="center">Facultad de Ingenieria</h3>
    	   
    	   <h3>Contacto: equipomorado@gmail.com</h3>
    	   <h3>Telefono:5522495140</h3>
    	</div>
    	
    	
    	
    	
		
	     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    </body>
   
        
    </html>
    