    <!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css2?family=Cuprum:wght@500&family=Spartan:wght@500&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap" rel="stylesheet">
        <style>
   			p{
			color:#000000;
			font-size: 20px;
			padding-top:0px;
			font-family: 'Lobster Two', cursive;
			}
			.card3{
				
			height: 20%;
			width: 100%;
			margin-top: 100px;
		
			
			background-color:#BD2427;
			padding-top: 10px;
			padding-right: 100px;
			padding-bottom:10px;
			padding-left: 100px; 
			
			
			}
			h2{
			margin-left:20px;
			color:#FFFFFF;
			font-size: 60px;
			}
			
			h3{
			margin-left:20px;
		 	color:#FFFFFF;
			font-size: 20px;
			}
			
			.card1{
				
			height: 20%;
			width: 80%;
			margin-left:100px;
			margin-right:100px;
			margin-top: 10px;
			background-color:#F69898;
			padding-top: 10px;
			padding-right: 100px;
			padding-bottom:10px;
			padding-left: 100px; 
			border-radius: 100px;
			
			}
				.card2{
			height: 10%;
			width: 80%;
			margin-left:100px;
			margin-right:100px;
			margin-top: 30px;
			margin-bottom: 30px;
			background-color:#FD363A;
			padding-top: 5px;
			padding-right: 100px;
			padding-bottom:5px;
			padding-left: 100px; 
			border-radius: 5px;
			
			}
			
			h1{
	    	color:#D7EAEB;
	    	font-family: 'Lobster Two', cursive;
			}
			
			.texto{
        	padding-top: 50px;
        	color:#D7EAEB; 
        	font-size:55px;
        
        	font-family: 'Lobster Two', cursive;
        	line-height: 10px; 
        	font-weight: 700;	
        	text-decoration: none;
        	margin-bottom: 20px;
            }
            
            .division{
			background-color:#FF6F6F;
			padding-bottom: 10px;
			padding-top: 20px;
			color:#888888;
			size: 200px;
			}
			
			a{
			
			margin-top: 10px;
			color:#7DF500;
			font-size: 30px;
			ine-height: 10px; 
        	font-weight: 500;	
			}
        </style>
    </head>
   
   <body  background="{{ url_for('static', filename= 'img/login.png') }}">
		<div class="division">
			<h2>UNAMID</h2>
			<nav  class="navbar navbar-expand-lg navbar-dark bg-transparent">
			  <!-- <a  class="navbar-brand" href="#"></a> -->
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="true" aria-label="Toggle navigation">
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			    <div class="navbar-nav">
			    	<a class="nav-item nav-link" href="main">Inicio </a>
			      <a class="nav-item nav-link" href="formulario">Registrar</a> 
			      <a class="nav-item nav-link" href="id_search">Consultar</a>
			      <a  class="nav-item nav-link active" href="mostrar_tabla">Registros <span class="sr-only">(current)</span></a>
			      <a class="nav-item nav-link" href="nosotros">Nosotros</a>
			    </div>
			  </div>
			</nav>
		</div>
		
		
		
				<div class="card2">
					
						<div class="row">
							<!-- div.col{Col}*12 -->
							<div class="col-6 col-md-3 col-lg-4"> 
							     <label for="id"><h1> ID</h1></label>
							</div>
						
							<div class="col-6 col-md-3 col-lg-4 ">
							     <label for="titulo"> <h1> URL</h1> </label>
							     
							</div>
				
							<div class="col-6 col-md-3 col-lg-4 ">
							     <label for="url"><h1> Título</h1></label>
						    </div>
						</div>
					</div>
			
			{% for elemento in resultado %}
			
			<div class="card1">
					
						<div class="row">
							<!-- div.col{Col}*12 -->
							<div class="col-6 col-md-3 col-lg-4"> 
							     <label for="id"><p> {{elemento[0]}}</p></label>
							</div>
						
							<div class="col-6 col-md-3 col-lg-4 ">
							     <label for="titulo"> <p> {{elemento[1]}}</p> </label>
							     
							</div>
				
							<div class="col-6 col-md-3 col-lg-4 ">
							     <label for="url"><p> {{elemento[2]}}</p></label>
						    </div>
						</div>
					</div>
					{% endfor %}
					
					
			<div class="card3">
    	   <h3 align="center">Derechos Reservados CopyRight</h3>
    	   <h3 align="center">Facultad de Ingenieria</h3>
    	   
    	   <h3>Contacto: equipomorado@gmail.com</h3>
    	   <h3>Telefono:5522495140</h3>
    	</div>
		
		
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    </body>
    </html>
    