    <!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        		<link href="https://fonts.googleapis.com/css2?family=Cuprum:wght@500&family=Spartan:wght@500&display=swap" rel="stylesheet">
        <style>
            
            p{
				color:#2A686A;
				font-size: 25px;
				padding-top:10px;
				font-family: 'Spartan', sans-serif;
			}
			
			h1{
			    	color:#FF5E51;
			}
			
			.texto{
            	padding-top: 50px;
            	color:#403F43; 
            	font-size:35px;
            	font-family: 'Spartan', sans-serif;
            	line-height: 10px; 
            	font-weight: 700;	
            	text-decoration: none;
            	margin-bottom: 20px;
            }
            
            .division{
				background-color:#333333;
				padding-bottom: 10px;
				padding-top: 20px;
				color:#888888;
				size: 200px;
                }
	         table, th, td {
			    border: 4px solid #FFFFFF;
			    border-collapse: collapse;    
			}
			
			th, td{
			    padding: 15px;
			    font-family: 'Raleway', sans-serif;
			}			
			
			
        </style>
        
        </style>

 
    </head>
    <body>
        
<div class="division">
			<nav  class="navbar navbar-expand-lg navbar-dark bg-transparent">
		  <!-- <a  class="navbar-brand" href="#"></a> -->
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="true" aria-label="Toggle navigation">
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		    <div class="navbar-nav">
		      <a  class="nav-item nav-link active" href="formulario">Regresar <span class="sr-only">(current)</span></a>
		      
		      
		    </div>
		  </div>
		</nav>
</div>
        
        
        <h1 class="texto">Registro Exitoso!</h1>
	    
	    <div class="card">
            <div class="card-body">
    	        <form action="" method="post">
    	            <table id="table"border="1">
    	                <thead>
    	                    <tr>
        	                    <th>ID </th>
        	                    <th>Titulo Web</th>
        	                    <th>URL</th>
    	                    </tr>
    	                </thead>
    	                <tbody>
    	                    <tr>
        	                    <td>{{ide}}</td>
        	                    <td>{{Titulo}}</td>
        	                    <td>{{Url}}</td>
    	                    </tr>
    	                </tbody>
    	                
    	            </table>
    			   	   
    			   	       
    			  </form>  
    	        </div>
            </div>

    </body>
</html>