    <!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Cuprum:wght@500&family=Spartan:wght@500&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@700&display=swap" rel="stylesheet">
        <style>
             
            p{
			color:#000000;
			font-size: 35px;
			padding-top:10px;
			font-family: 'Lobster Two', cursive;
			
			}
			
			.card1{
			height: 70%;
			width: 70%;
			margin-left:180px;
			margin-top: 75px;
			background-color:#F69898;
			padding-top: 10px;
			padding-right: 50px;
			padding-bottom:50px;
			padding-left: 50px; 
			border-radius: 5px;
			
			}
			
			h1{
					padding-top: 100px;
			margin-left:40%;
		
			font-size: 55px;
	    	color:#FFFFFF;
	    	font-family: 'Big Shoulders Stencil Text', cursive;
			}
			
			.texto{
        	padding-top: 50px;
        	color:#D7EAEB; 
        	font-size:55px;
        
        	font-family: 'Lobster Two', cursive;
        	line-height: 10px; 
        	font-weight: 700;	
        	text-decoration: none;
        	margin-bottom: 20px;
            }
            
            .division{
			background-color:#FF6F6F;
			padding-bottom: 10px;
			padding-top: 20px;
			color:#888888;
			size: 200px;
			}
			
			a{
			
			margin-top: 10px;
			color:#7DF500;
			font-size: 30px;
			ine-height: 10px; 
        	font-weight: 500;	
			}
			
			button{
			background-color:#FF6F6F;
				
			}
			
			
        </style>

 
    </head>
   
 <body  background="{{ url_for('static', filename= 'img/login.png') }}">
       
<div class="division">
			<nav  class="navbar navbar-expand-lg navbar-dark bg-transparent">
		  <!-- <a  class="navbar-brand" href="#"></a> -->
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="true" aria-label="Toggle navigation">
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		    <div class="navbar-nav">
		      <a  class="nav-item nav-link active" href="formulario">Regresar <span class="sr-only">(current)</span></a>
		      
		      
		    </div>
		  </div>
		</nav>
</div>
       
       		<h1>R E S U L T A D O </h1>
       
       
       <div  align="center" class="alert alert-dark" role="alert">
  			<p>{{resultado}}</p>
       </div>
       
     

    
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    </body>
   
        
    </html>
    