* {
 margin:0;
 padding:0;
 box-sizing:border-box;
}

.form-register{
 width:400px;
 background:#24303c;
 padding:30px;
 margin:auto;
 margin-top:100px;
 border-radius:4px;
 font-family: "calibri";
 color:white;
 box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

.botons2 {

  margin-left: auto;
  margin-right: auto;
  text-align:center;
  background-color: transparent;
  font-family: 'calibri';
  font-size: 30px;
  font-weight: 600;
  padding-top:15px;
  padding-bottom:15px;
  padding-left:30px;
  padding-right:30px;
  border-width: 3px;
  border-style: solid;
  border-color: #000000;
  color:#02141E;
  text-decoration:none;
}

.botons3 {
  width:600px;
  margin-left:35%;
  text-align:center;
  background-color: transparent;
  font-family: 'calibri';
  font-size: 30px;
  font-weight: 600;
  padding-top:15px;
  padding-bottom:15px;
  padding-left:50px;
  padding-right:50px;
  border-width: 3px;
  border-style: solid;
  border-color: #000000;
  color:#02141E;
  text-decoration:none;
}

.botons4 {
  width:300px;
  margin-left: 50%;
  transform: translateX(-50%);
  text-align:center;
  background-color: #F4FA30;
  font-family: 'calibri';
  font-size: 30px;
  font-weight: 600;
  padding-top:15px;
  padding-bottom:15px;
  padding-left:50px;
  padding-right:50px;
  border-width: 3px;
  border-style: solid;
  border-color: #000000;
  color:#02141E;
  text-decoration:none;
}

.botons-inicio {

  margin-left: 5%;
  margin-right: auto;
  text-align:center;
  background-color:#CED8D7;
  font-family: 'calibri';
  font-size: 30px;
  font-weight: 600;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:30px;
  padding-right:30px;
  border-radius:6px;
  box-shadow: 7px 10px 25px #000;
  border-width: 2px;
  border-style: solid;
  border-color: #24303c;
  color:black;
  text-decoration:none;
}

.botons-cerrar {

  
  margin-left:60%;
  text-align:center;
  background-color: transparent;
  font-family: 'calibri';
  font-size: 30px;
  font-weight: 600;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:30px;
  padding-right:30px;
  border-width: 3px;
  border-radius:6px;
  box-shadow: 7px 10px 25px #000;
  border-style: solid;
  border-color: #000000;
  color:#02141E;
  text-decoration:none;
}

.botons-inicio1 {
  position:absolute;
  margin-left:50%;
  transform: translateX(-50%);
  text-align:center;
  background-color: #F2F3DD;
  font-family: 'calibri';
  font-size: 25px;
  font-weight: 600;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:30px;
  padding-right:30px;
  border-width: 3px;
  border-style: solid;
  border-color: #000000;
  color:#02141E;
  text-decoration:none;
  border-radius:6px;
  box-shadow: 5px 7px 10px #000;
}

.botons-cerrar2 {

  width:30px;
  margin-left:50%;
  transform:translateX(-50%);
  text-align:center;
  background-color: white;
  font-family: 'calibri';
  font-size: 30px;
  font-weight: 600;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:30px;
  padding-right:30px;
  border-width: 3px;
  border-style: solid;
  border-color: #000000;
  color:#02141E;
  text-decoration:none;
}
.botons-texto {
  width: 100%;
  background: transparent;
  border: none;
  padding-top:2px;
  padding-bottom:2px;
  padding-left:10px;
  padding-right:10px;
  margin-left:50%;
  transform:translateX(-50%);
  text-align:center;
  color: white;
  font-size: 16px;
}

.botons-texto2 {
  width: 100%;
  background: transparent;
  border: none;
  padding-top:2px;
  padding-bottom:2px;
  padding-left:10px;
  padding-right:10px;
  margin-left:50%;
  transform:translateX(-50%);
  text-align:center;
  color: black;
  font-size: 16px;
}

.division{
    background-color:#33F9FF;
	padding-bottom: 50px;
	padding-top: 200px;
	color:#013234;
	size: 200px;
}
.division-inicio{
    background-color:#75E2E2;
	padding-bottom: 15px;
	padding-top: 15px;
	color:#013234;
	size: 100px;
}
.division-inicio1{
    background-color:#373737;
	padding-bottom: 5px;
	padding-top: 5px;
	color:#013234;
	size: 100px;
}
.division-inicio2{
    background-color:#033958;
	padding-bottom: 10px;
	padding-top: 10px;
	color:#013234;
	size: 100px;
}

.division3{
    background-color:transparent;
	padding-bottom: 5%;
	padding-top: 5px;
	color:transparent;
	size: 10px;
}
.division-mensajes{
    background-color:#2a5163;
	padding-bottom: 10px;
	padding-top: 10px;
	color:white;
	size: 100px;
}
.division-mensajes2{
    background-color:transparent;
	padding-bottom: 10px;
	padding-top: 10px;
	color:transparent;
	size: 100px;
}
			

video{
 position:fixed;
 
 min-width:100%;
 min-height:100%;
 
 top:50%;
 left:50%;
 
 transform:translateX(-50%) translateY(-50%);
 z-index:-1;

}


body{
 margin:0;
}